@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body {
    text-align: center;
    color: white;
    background: linear-gradient(#99ffe5 0%, #b7c4ff 50%, #ffa3a3 100% ); 
    font-family: 'Amatic SC';
}
h1 {
    font-size: 40px;  
    font-weight: 300;
}
button {
  background-color : black;
  border-radius : 30px;
  border-color: black;
  color : white;
  font-size : 20px;
}